<h1>Welcome <%= @user.name.capitalize %>!</h1>
<%= button_to "Top 40 Movies", "/movies", method: :get %>

<%= form_tag "/movies", method: :get %>
  <%= text_field_tag(:query, params[:query]) %>
<%= submit_tag ("Search Movies") %>
